.container-graphics {
  min-height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 1fr;
}
.graphics-content {
  width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
  border: 1px solid #cfddf7;
  border-radius: 12px;
  padding: 10px;
  -webkit-box-shadow: -8px 3px 36px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -8px 3px 36px 0px rgba(0, 0, 0, 0.54);
  box-shadow: -8px 3px 36px 0px rgba(0, 0, 0, 0.54);
}

@media (max-width: 800px) {
  .container-graphics {
    display: inline;
  }
  .graphics-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
